#otter {
    height: 40px;
}

h1 {
    font-family: 'Special Elite', cursive;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 14px;

}

p {
  font-family: 'Quicksand', sans-serif;
}

#logoarea {
    background-color:  rgb(144, 219, 255);
}

#side {
  background-color: rgb(232, 233, 236);
  padding: 30px;
  padding-bottom: 190px;
}

.center {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 200px;
  font-size: 18px;
  background-image: url("../images/ripples.png");
  z-index: -1;
}

footer {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

li {
  font-family: 'Quicksand', sans-serif;
}

.col-container {
  display: flex;
  width: 100%;
}

main {
  min-height: 500px;
}

.otterpic {
  max-width: 250px;
}

#ottericon {
  width: 100px;
  position: relative;
  animation: myfirst 8s 2;
  animation-direction: alternate;
  animation-play-state: paused; 
  animation-iteration-count:infinite;
}

#ottericon:hover {
  animation-play-state: running;
}

@keyframes myfirst {
  0%   {left: 0px; top: 0px;}
  100%  {left: 800px; top: 0px;}
}

.products {
  border: 1px solid rgb(105, 105, 105);
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 15px;
}

.addbtn {
  margin-top: 10px;
}

#view {
  margin-left: 15px;
  margin-top: 15px;
}

.bottombtn {
  margin-top: 20px;
}

#ordertotal {
  font-size: 18px;
  color: green;
}

#remove {
  padding: 10px;
  border-radius: 5px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5f8f9;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 3px 2px 8px
}

.card-body {
  padding: 10px;
}

.saveidea {
  margin-bottom: 10px;
  background-color: rgb(241, 240, 240);
}

.giftIdeas {
  text-align: center;
}

.idealist {
  list-style-type: none;
  font-size: 22px;
}

#account {
  text-align: center;
}




/*Downloaded from https://www.codeseek.co/davidcochran/bootstrap-navbar-with-logo-centered-above-Dihnl */
header[role="banner"] #logo-main {
    display: block;
    margin: 0px auto;
    max-width: 300px;
  }
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
  }
  /*#navbar-primary.navbar-default .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%); 
  }*/
  #navbar-primary.navbar-default .navbar-nav > li {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
  }
 
